@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte-00: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-destaque: 'Passion One', cursive;
    --fonte-padrao: 'Sriracha', cursive;  
}

*{
    margin: 0px;
    padding: 0px;
}

a:hover{
    text-decoration: underline;
}

body, html{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte-00);
    font-size: 1em;
}

header{
    background-color: black;
    color: white;
    text-align: center;

}

header h1{
    padding-top: 50px;
    font-family: var(--fonte-destaque);
    font-size: 10vw;
    font-variant: small-caps;
}

header p{
    padding-bottom: 50px;
    font-family: var(--fonte-padrao);
    font-size: 4vw;
}

header a{
    color: white;
    text-decoration: none;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-padrao);
    font-size: 3.5vw;
}

section p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    box-shadow: inset 6px 6px 13px 15px rgba(0, 0, 0, 0.438);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.645);
    color: white;
    border-radius: 10px;
    text-shadow: 1px 1px 1px black;
}

section#img1{
    background-image: url('../imagens/background001.jpg');

}

section#img2{
    background-image: url('../imagens/background002.jpg');
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p{
    font-family: var(--fonte-padrao);
    font-size: 2.5vw;
}

footer a{
    text-decoration: none;
    color: white;
}
